* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  background: #252525;
  color: #f5f5f5; }

.container {
  display: flex; }

.welcome-text {
  flex: 1; }
  .welcome-text .text-box {
    width: 17vw;
    margin: auto; }

.gallery {
  flex: 3;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr); }
  .gallery img {
    width: 200px;
    height: 150px;
    padding-bottom: 5px;
    filter: grayscale(100%);
    transition: all 0.5s ease-out; }
    .gallery img:hover {
      filter: grayscale(0%);
      transform: scale(1.1); }
